/build/*
!/build/appicon.png
!/build/darwin/
/build/darwin/*
!/build/darwin/Info.plist
!/build/darwin/Info.dev.plist
/vendor/
*.test
*.out
/gui/frontend/node_modules/
/gui/frontend/package.json.md5
/gui/frontend/wailsjs/
